/* Logout.css */
.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
   /* Optional: background color */
}

.logout-content {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logout-content p {
  margin-bottom: 20px;
  font-size: 18px;
}

.logout-content .btn {
  margin: 0 10px;
}
